/**
    CSS Module: Confirmation
*/

$checkbox-color: #e6e6e6;

.confirmation {
  display: flex;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 10px;
  background-color: $checkbox-color;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}